protected $table 	  = '{{tableName}}';

    protected $fillable   = [
                            {{showCols}}
                            ]; 
    
    protected $hidden     = [
                            {{hiddenCols}}
                            ];

{{Constraints}}