<?php

namespace DummyNamespace;

use Illuminate\Database\Eloquent\Relations\Pivot;

class DummyClass extends Pivot
{
    //

    public function status()
    {
        return $this->BelongsTo('App\Models\Status', 'id_status');
    }
                           
    public function usuario()
    {
        return $this->BelongsTo('App\Models\Usuario', 'id_usuario');
    }
}
