
            <v-checkbox
                   :rules="[rules.check]"
                  v-model="form.{{columnName}}"
                  label="{{labelName}}"
                  :true-value="1"
                  :false-value="0"
                  :indeterminate="(form.{{columnName}}== null)"
                  dense
            ></v-checkbox>
