
            <v-checkbox
                  :rules="[rules.required]"
                  v-model="form.{{columnName}}"
                  label="{{labelName}}"
                  dense
            ></v-checkbox>
